*{
    padding: 0px;
    margin: 0px;
}



body{
    background-color: #0095FF;
    display: grid;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;

}



.grid{
    display: grid;
    grid-template: 
    "titulo titulo titulo" 70px
    "nome email senha" 70px
    "cep rua numero"  70px
    "bairro cidade estado" 70px 
    "btn btn btn"
    ;
}

#containerPrincipal{
    width: 80%;
    margin: 0 auto;
}

#title {
    color: white;
}

.textoLabel{
    color: white;
    transition: .5s;
    cursor: text;
}

#titulo{
    grid-area: titulo;
    text-align: center;
}

#senha{
    grid-area: senha;
}

#nome{
    grid-area: nome;
}

#email{
    grid-area: email;
}

#cep{
    grid-area: cep;
}

#bairro{
    grid-area: bairro;
}


#numero{
    grid-area: numero;
}

#cidade{
    grid-area: cidade;
}

#estado{
    grid-area: estado;
}

#rua{
    grid-area: rua;
}

.inputPadrao{
    width: 95%;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 2px;
    transition: .5s;
    padding: 0 10px;
}

.inputPadrao:valid{
    height: auto;
    background-color: #dedede;

}

.botao {
    background-color: white;
    border: none;
    padding: 5px 10px;
}

#btn{
    grid-area: btn;
    display: grid;
    justify-content: center;
}